

h1 {
    margin: 15px 10px;
    text-align: center;
}

.img {
    text-align: center;
}

main {
    text-align: center;
}

ol {
    text-align: left;
}

@media (min-width:500px) {
    img {
    width: 500px;
    height: auto;
    }

    ol {
        width: 500px;
        margin: auto;
    }
}